---
// src/pages/about_card/index.astro

import Wrapper from '../../components/Wrapper.astro';
import Card from '../../components/Card.astro';
import '../../styles/global.css';

const response = await fetch('https://la-mediterranea.eu/api/person_items.php?category=10');
const data = await response.json();

// Access the `results` array
interface personItem {
    item_id: number;
    first_name: string;
    last_name: string;
    image_item_name: string;
    description: string;
    subcategory_item_name: string;
}

const personItems: personItem[] = data.results;

if (!personItems || personItems.length === 0) {
    throw new Error("Person items data is empty or undefined.");
}
---
<Wrapper
    charset="UTF-8"
    title="About - La Mediterranea"
    description="Explore us an our customers."
    ogImage="/images/persons/bartender.png"
    ogUrl="/about_card"
>


    <div slot="main" class="card-container scrollable-content">
        {personItems.map(personItem => (
            <Card
                itemId={personItem.item_id}
                itemName={personItem.first_name}
                image={`../images/persons/${personItem.image_item_name}`}
                description={personItem.description}
                price={personItem.subcategory_item_name}
    />
        ))}
    </div>
</Wrapper>
