---
// src/pages/food/[subcategory].astro
import { getCollection } from 'astro:content';
import Header from '../../components/Header.astro';
import DropDownFood from '../../components/DropDownFood.astro';
import '../../styles/global.css';
import '../../styles/card.css';

export async function getStaticPaths() {
    const foodEntries = await getCollection('food');
    
    // Erstelle eine Liste aller einzigartigen Subkategorien
    const uniqueSubcategories = Array.from(
    new Set(foodEntries.map(entry => entry.data.subcategory))
    );

    // Gib die Pfade für jede Subkategorie zurück
    return uniqueSubcategories.map(subcategory => ({
    params: { subcategory },
    }));
}

const { subcategory } = Astro.params;
const publishedFoodEntries = await getCollection('food', ({ data }) => {
    return data.subcategory == subcategory;
});
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food @La Mediterranea</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta property="og:title" content="food @La Mediterranea">
    <meta property="og:description" content="mediterranean and international delicacies">
    <meta property="og:image" content="images/drinks/cocktails_banner.png">
    <meta property="og:url" content="/food/${subcategory}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <Header />
    <main class="main-content">
        <div class="subheader"></div>
            <DropDownFood />
        </div>
        <div class="card-container">
            {publishedFoodEntries.map((item: { id: string, slug: string, body: string, collection: string, data: { subcategory: string, id: number, name: string, description: string, price: number, image?: string } }) => (
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{item.data.name}</h3>
                        <img class="card-image" src={item.data.image} alt={item.data.name} />
                    </div>
                    <p class="card-description">{item.data.description}</p>
                    <div class="divider-gradient"></div>
                    <div class="card-price">{item.data.price} €</div>
                </div>
            ))}
        </div>

    </main>

    <script>
        const select = document.getElementById('food-category') as HTMLSelectElement
        select?.addEventListener('change', () => {
            const { value } = select.options[select.selectedIndex]
            document.location.href = `/food/${value}`
        })
    </script>
</body>
</html>
