---
// src/pages/drink_items/drinks_card.astro

import Wrapper from '../../components/Wrapper.astro';
import Card from '../../components/Card.astro';
import '../../styles/global.css';

const response = await fetch('https://la-mediterranea.eu/api/menu_items.php?category=20');
const data = await response.json();

// Access the `results` array
interface MenuItem {
    item_id: number;
    item_name: string;
    image_item_name: string;
    description: string;
    degree_item_name: string;
    price: number;
}

const menuItems: MenuItem[] = data.results;

if (!menuItems || menuItems.length === 0) {
    throw new Error("Menu items data is empty or undefined.");
}
---
<Wrapper
    charset="UTF-8"
    title="Drinks - La Mediterranea"
    description="Enjoy our refreshing drinks."
    ogImage="/images/persons/bartender.png"
    ogUrl="/drink_card"
    noFooter={true} 
>


    <div slot="main" class="card-container scrollable-content">
        {menuItems.map(menuItem => (
            <Card
                itemId={menuItem.item_id}
                itemName={menuItem.item_name}
                image={`../images/drinks/${menuItem.image_item_name}`}
                description={menuItem.description}
                text1={menuItem.degree_item_name}
                price={`${menuItem.price.toFixed(2).replace('.', ',')} €`}
            />
        ))}
    </div>
</Wrapper>
