---
import { getCollection } from 'astro:content';
import Header from '../../components/Header.astro';
import DropDownDrink from '../../components/DropDownDrink.astro';
import '../../styles/global.css';
import '../../styles/card.css';

export async function getStaticPaths() {
    // Fetch data from the `menu` collection
    const drinks = await getCollection('menu');

    // Get unique subcategory IDs for paths
    const uniqueSubcategories = Array.from(new Set(drinks.map((drink) => drink.data.subcategory_id)));

    // Create paths for each subcategory
    return uniqueSubcategories.map((subcategory) => ({
        params: { subcategory },
    }));
}

const { subcategory } = Astro.params;
const drinks = await getCollection('menu');
const filteredDrinks = drinks.filter((c) => c.data.subcategory_id === subcategory);
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drinks @La Mediterranea</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta property="og:title" content="Drinks @La Mediterranea">
    <meta property="og:description" content="Mediterranean and international delicacies">
    <meta property="og:image" content="images/drinks/cocktails_banner.png">
    <meta property="og:url" content={`/drinks/${subcategory}`}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <Header />
    <main class="main-content">
        <!-- Dropdown for category selection -->
        <div class="subheader">
            <DropDownDrink />
        </div>
        
        <!-- Filtered Drinks Display -->
        <div class="card-container">
            {filteredDrinks.map((drink) => (
                <div class="card" key={drink.id}>
                    <div class="card-header">
                        <h3 class="card-title">{drink.data.item_name}</h3>
                        <img class="card-image" src={drink.data.image_path || '/images/icons/no_picture.png'} alt={drink.data.item_name} />
                    </div>
                    <p>{drink.data.description}</p>
                    <div class="divider-gradient"></div>
                    <div class="card-price"><strong>{drink.data.menu_price}</strong></div>
                    <p class="card-description">{drink.data.degree_name}</p>
                    <p class="card-description">{drink.data.volume} l</p>
                </div>
            ))}
        </div>
    </main>

    <script>
        const select = document.getElementById('drink-category') as HTMLSelectElement;
        select?.addEventListener('change', () => {
            const { value } = select.options[select.selectedIndex];
            document.location.href = `/drinks/${value}`;
        });
    </script>
</body>
</html>