---
// src/pages/about_us.astro

import Card from '../components/Card.astro';
import Wrapper from '../components/Wrapper.astro';
import '../styles/global.css';

const response = await fetch('https://la-mediterranea.eu/api/person_items.php?category=10');
const data = await response.json();

// Access the `results` array
interface PersonItem {
    item_id: number;
    first_name: string;
    image_item_name: string;
    description: string;
    subcategory_item_name: string;
}

const personItems: PersonItem[] = data.results;

if (!personItems || personItems.length === 0) {
    throw new Error("person items data is empty or undefined.");
}
---
<Wrapper
    charset="UTF-8"
    title="Persons - La Mediterranea"
    description="our fantastic team and our guests"
    ogImage="/images/persons/bartender.png"
    ogUrl="Team.html"
    noFooter={true} 
>

    <div slot="main" class="card-container scrollable-content">
        {personItems.map(personItem => (
            <Card
                itemId={personItem.item_id}
                itemName={personItem.first_name}
                image={`../images/persons/${personItem.image_item_name}`}
                description={personItem.description}
                price={personItem.subcategory_item_name}
            />
        ))}
    </div>
</Wrapper>
