---
// src/pages/index.astro
import Wrapper from '../components/Wrapper.astro';
import Slideshow from '../components/react/Slideshow.jsx';
import '../styles/global.css';

const pageResponse = await fetch('https://la-mediterranea.eu/api/page_items.php?subcategory=601');
const pageData = await pageResponse.json();
const pageItems = pageData.results;
const { url } = Astro; // Extract `url` from `Astro
const showDropdowns = false;

if (!pageItems || pageItems.length === 0) {
  throw new Error("Page items data is empty or undefined.");
}

// Fetch slides serverseitig
const slidesResponse = await fetch('https://la-mediterranea.eu/api/slide_items.php?subcategory=601');
const slidesData = await slidesResponse.json();

const slides = slidesData.results;

if (!slides || slides.length === 0) {
  throw new Error("Slides data is empty or undefined.");
}
---

<Wrapper
  charset="UTF-8"
  title={pageItems[0].title}
  description={pageItems[0].description}
  ogImage={`/images/slides/${pageItems[0].image_item_name}`}
  ogUrl="/"
  viewport="width=device-width, initial-scale=1.0"
  showDropdowns={showDropdowns} 
>
  <!-- Header-after Slot -->
  <div slot="after-header" class="header-after">
    <!-- Optionaler Inhalt -->
  </div>

  <!-- Hauptinhalt -->
  <main slot="main">
    <div class="slideshow-wrapper">
      <Slideshow slides={slides} client:load />
    </div>
  </main>
</Wrapper>

<style>
  .slideshow-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    margin-top: var(--header-height);
  }
</style>