---
import { getCollection } from 'astro:content';
import Wrapper from '../components/WrapperSlideSite.astro';
import TeamCategoryDropdown from '../components/TeamCategoryDropown.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';

const teamMembers = await getCollection('persons');
---

<Wrapper 
    charset="UTF-8"
    title="Team - La Mediterranea"
    description="Meet the dedicated team behind La Mediterranea."
    ogImage="/images/persons/bartender.png"
    ogUrl="/team.html"
    viewport="width=device-width, initial-scale=1.0"
    noFooter={true} 
>
    <TeamCategoryDropdown slot="after-header" />
    
    <div slot="main" class="card-container scrollable-content">
        {teamMembers.map((member) => (
            <Card
                itemId={member.id}
                itemName={member.data.name}
                imagePath={member.data.image}
                description={member.data.description}
                price=""
                volume=""
                text1={member.data.position}
                text2=""
            />
        ))}
    </div>
</Wrapper>
