---
// src/components/Card.astro

export interface CardProps {
    itemId: string;
    itemName: string;
    image: string;
    description: string;
    price: string;
    volume: string;
    text1: string;
    text2: string;
}

const { itemId, itemName, image, description, price, volume, text1, text2 } = Astro.props;
---

<div class="card" data-key={itemId}>
    <div class="card-header">
        <h3 class="card-title">{itemName}</h3>
        <img
            class="card-image"
            src={image}
            alt={itemName}
        />
    </div>
    <p>{description}</p>
    <div class="divider-gradient"></div>
    <div class="card-price">{price}</div>
    <p class="card-text">{text1}</p>
    <p class="card-text">{text2}</p>
    <p class="card-volume">{volume}</p>
</div>

<style>

/* Card Styling */
  .card {
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card:hover { 
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-image { 
    width: 100%;
    max-height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px; }
  
    .card-title {
    font-size: 1.0rem; 
    font-weight: 600; 
    color: var(--link-color); 
    margin-bottom: 5px; 
    flex-grow: 1;
  }
  .card-description {
    font-size: 0.9rem;
    color: var(--text-color); 
    margin-bottom: 10px;
    flex-grow: 2;
    
  }
  .card-price {
    font-size: 0.9rem; 
    color: var(--link-color); 
    text-align: right;
    margin-top: auto;
  }

@media (max-width: 1024px) {
  .card {
    width: calc(33.33% - 20px); /* 3 Karten */
  }
}

@media (max-width: 768px) {
  .card {
     width: calc(50% - 20px); /* 2 Karten */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* 1 Karte */
  }
}
</style>