---
import './styles/card.css';

export interface CardProps {
    itemId: string;
    itemName: string;
    image: string;
    description: string;
    price: string;
    volume: string;
    text1: string;
    text2: string;
}

const { itemId, itemName, image, description, price, volume, text1, text2 } = Astro.props;
---

<div class="card" data-key={itemId}>
    <div class="card-header">
        <h3 class="card-title">{itemName}</h3>
        <img
            class="card-image"
            src={image}
            alt={itemName}
        />
    </div>
    <p>{description}</p>
    <div class="divider-gradient"></div>
    <div class="card-price">{price}</div>
    <p class="card-text">{text1}</p>
    <p class="card-text">{text2}</p>
    <p class="card-volume">{volume}</p>
</div>
