---
// src/components/MenuCard.astro
import './styles/card.css';

const { title, description, price, imagePath } = Astro.props;
---

<div class="card">
  <div class="card-header">
    <h3 class="card-title">{title}</h3>
  </div>
  <img src={imagePath} alt={title} class="card-image" onerror="this.onerror=null;this.src='/images/icons/no_picture.png';">
  <p class="card-text">{description}</p>
  <hr class="divider">
  <div class="info-container">{price} €</div>
</div>