---
// src/components/wrapper.astro

const {
    charset = "UTF-8",
    title,
    description,
    ogImage,
    ogUrl,
    viewport = "width=device-width, initial-scale=1.0",
    mainClass = "scrollable-content"
} = Astro.props;

import Header from './Header.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset={charset} />
    <title>{title}</title>
    <meta name="viewport" content={viewport} />
    <meta name="description" content={description} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={ogUrl} />
</head>
<body>
    <div id="content-wrapper">
        <!-- Header einbinden -->
        <Header />

        <!-- Slot für Inhalte direkt nach dem Header -->
        <slot name="after-header" />

        <!-- Hauptinhalt -->
        <main id="main-content" class={mainClass}>
            <slot name="main" />
        </main>
    </div>
</body>
</html>