---
// src/components/WrapperSlideSite.astro
import Footer from './Footer.astro';
import Header from './Header.astro';
import '../styles/global.css';

const { charset = "UTF-8", title, description, ogImage, ogUrl, viewport = "width=device-width, initial-scale=1.0", noFooter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset={charset} />
    <title>{title}</title>
    <meta name="viewport" content={viewport} />
    <meta name="description" content={description} />
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={ogUrl} />
    

</head>
<body>
    <div id="content-wrapper">
        <!-- Include Header -->
        <Header />

        <!-- Slot for content directly after the header -->
        <slot name="after-header" />

        <!-- Main content area -->
        <main id="main-content" class="scrollable-content">
            <slot name="main" />
        </main>

        <!-- Conditionally render Footer if `noFooter` is not set to true -->
        { !noFooter && <Footer /> }
    </div>
</body>
</html>